{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.about.buttonText }}
                    <a href="#" class="btn btn-default btn-xl">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        <div class="row bs-pricing-four">
          {{ range .Site.Params.about.packages }}
          <div class="col-md-6">
              <div class="bs bs-pricing">
                  <div class="cotent">
                      <h3 class="category">{{ .title }}</h3>
                      <h4 class="">{{ .description }}</h4>
                      <img src="{{ .image }}" style="max-height:200px;" />
                      <h1 class="bs-caption"><small>$</small>{{ .price}}</h1>
                      <ul>
                        {{ range .features }}
                          <li>{{ . | safeHTML }}</li>
                        {{ end }}
                      </ul>
                      <a href="#portfolioModal{{ .modalID }}" class="btn btn-danger" data-toggle="modal">Book it now</a>
                  </div>
              </div>
          </div>
          {{ end }}
        </div>
    </div>
</section>
